<div class="list-viewer__wrapper">
  <table>
    <thead>
      <tr>
        <th>S/No</th>
        <th>Portrait</th>
        <th>Name (Birth - Death)</th>
        <th>Term</th>
        <th>Party</th>
        <th>Election</th>
        <th>Vice President</th>
      </tr>
    </thead>
    <tbody>
      @for (president of data(); track president) {
        <tr>
          @if (!president?.isCollapsed) {
            <td [rowSpan]="president?.count">
              {{ president?.sNo }}
            </td>
            <td [rowSpan]="president?.count">
              <div class="list-viewer__portrait--container">
                <img class="list-viewer__portrait" [src]="president?.imagePath">
                <span class="list-viewer__portrait--sno">{{ president?.sNo }}</span>
              </div>
            </td>
            <td [rowSpan]="president?.count">
              {{ president?.name }}
              <span class="list-viewer__mobile-info">
                <hr>
                {{ president?.term }}<br>
                <table>
                  <thead class="sub-table">
                    <tr>
                      <th>Party</th>
                      <th>Election</th>
                      <th>Vice President</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (election of president?.elections; track election) {
                      <tr class="sub-table">
                        <td class="sub-table">
                          <span class="list-viewer__party" [ngClass]="'list-viewer__party--' + president?.parties[president?.elections.indexOf(election)]?.toLowerCase()"></span>
                            {{ president?.parties[president?.elections.indexOf(election)] }}
                        </td>
                        <td>{{ election }}</td>
                        <td>{{ president?.vicePresidents[president?.elections.indexOf(election)] }}</td>
                      </tr>
                    }
                </table>
              </span>
            </td>
            <td [rowSpan]="president?.count">
              {{ president?.term }}
            </td>
          }
          <td class="list-viewer__mobile-hidden">
            <span class="list-viewer__party" [ngClass]="'list-viewer__party--' + president?.party?.toLowerCase()"></span>{{ president?.party }}
          </td>
          <td class="list-viewer__mobile-hidden">{{ president?.election }}</td>
          <td class="list-viewer__mobile-hidden">{{ president?.vicePresident }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>