<div class="list-viewer__wrapper">
  <table>
    <thead>
      <tr>
        <th>S/No</th>
        <th>Portrait</th>
        <th>Name</th>
        <th>Birth - Death</th>
        <th>Term</th>
        <th>Party</th>
        <th>Election</th>
        <th>Vice President</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let president of data">
        <td>{{ president?.sNo }}</td>
        <td><img class="list-viewer__portrait" [src]="president?.imagePath"></td>
        <td>{{ president?.name }}</td>
        <td>{{ president?.life }}</td>
        <td>{{ president?.term }}</td>
        <td>
          <ng-container *ngFor="let party of president?.party; let i = index">
            <span class="list-viewer__party" [ngClass]="'list-viewer__party--' + party?.toLowerCase()"></span>{{ party }}
            <ng-container *ngIf="i !== president?.party?.length - 1">
              <br><br>
            </ng-container>
          </ng-container>
        </td>
        <td>{{ president?.election }}</td>
        <td>{{ president?.vicePresident }}</td>
      </tr>
    </tbody>
  </table>
</div>